# 10 Minutes to pandas
https://pandas.pydata.org/pandas-docs/stable/10min.html

This is a short introduction to pandas, geared mainly for new users.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Object Creation

In [2]:

s = pd.Series([1,3,5,np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [3]:
dates = pd.date_range('20130101', periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [4]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01 -0.402924 -0.389868 -0.638973 -0.318237
2013-01-02  0.176802  0.474240  1.806408  1.596370
2013-01-03  0.912955 -0.244751  0.233110 -0.127799
2013-01-04 -0.704927  2.718679  2.331628  0.920995
2013-01-05 -3.151424  0.482281  1.022162 -0.705437
2013-01-06 -0.535173  0.188891  0.358509  0.164380

In [6]:
df2 = pd.DataFrame({ 'A' : 1.,
    'B' : pd.Timestamp('20130102'),
    'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
    'D' : np.array([3] * 4,dtype='int32'),
    'E' : pd.Categorical(["test","train","test","train"]),
    'F' : 'foo' })
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [7]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

 ## Viewing Data

In [9]:
df.head()

                   A         B         C         D
2013-01-01 -0.402924 -0.389868 -0.638973 -0.318237
2013-01-02  0.176802  0.474240  1.806408  1.596370
2013-01-03  0.912955 -0.244751  0.233110 -0.127799
2013-01-04 -0.704927  2.718679  2.331628  0.920995
2013-01-05 -3.151424  0.482281  1.022162 -0.705437

In [10]:
df.tail(3)

                   A         B         C         D
2013-01-04 -0.704927  2.718679  2.331628  0.920995
2013-01-05 -3.151424  0.482281  1.022162 -0.705437
2013-01-06 -0.535173  0.188891  0.358509  0.164380

In [11]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [12]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [13]:
df.values

array([[-0.40292395, -0.3898679 , -0.63897279, -0.31823732],
       [ 0.1768022 ,  0.47423992,  1.80640757,  1.59637007],
       [ 0.91295536, -0.2447514 ,  0.23311027, -0.12779949],
       [-0.7049267 ,  2.7186793 ,  2.33162825,  0.92099519],
       [-3.15142373,  0.48228058,  1.02216156, -0.70543675],
       [-0.53517258,  0.18889122,  0.35850931,  0.16437989]])

In [14]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.617448  0.538245  0.852141  0.255045
std    1.375096  1.127657  1.093500  0.854238
min   -3.151424 -0.389868 -0.638973 -0.705437
25%   -0.662488 -0.136341  0.264460 -0.270628
50%   -0.469048  0.331566  0.690335  0.018290
75%    0.031871  0.480270  1.610346  0.731841
max    0.912955  2.718679  2.331628  1.596370

In [15]:
#Transposing your data
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A   -0.402924    0.176802    0.912955   -0.704927   -3.151424   -0.535173
B   -0.389868    0.474240   -0.244751    2.718679    0.482281    0.188891
C   -0.638973    1.806408    0.233110    2.331628    1.022162    0.358509
D   -0.318237    1.596370   -0.127799    0.920995   -0.705437    0.164380

In [18]:
#Sorting by an axis
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01 -0.318237 -0.638973 -0.389868 -0.402924
2013-01-02  1.596370  1.806408  0.474240  0.176802
2013-01-03 -0.127799  0.233110 -0.244751  0.912955
2013-01-04  0.920995  2.331628  2.718679 -0.704927
2013-01-05 -0.705437  1.022162  0.482281 -3.151424
2013-01-06  0.164380  0.358509  0.188891 -0.535173

In [19]:
#Sorting by values
df.sort_values(by='B')

                   A         B         C         D
2013-01-01 -0.402924 -0.389868 -0.638973 -0.318237
2013-01-03  0.912955 -0.244751  0.233110 -0.127799
2013-01-06 -0.535173  0.188891  0.358509  0.164380
2013-01-02  0.176802  0.474240  1.806408  1.596370
2013-01-05 -3.151424  0.482281  1.022162 -0.705437
2013-01-04 -0.704927  2.718679  2.331628  0.920995