## Using pandas with large data
https://www.dataquest.io/blog/pandas-big-data/

In this example, we'll learn about memory usage with pandas, how to reduce a dataframe's memory footprint by almost 90%, simply by selecting the appropriate data types for columns.

In [1]:
import pandas as pd

In [3]:
#CSV files 

## GIT info: game_logs exceeds GitHub's file size. It can't be commited. 
## I download the file from: https://data.world/dataquest/mlb-game-logs

file_path = "../files/game_logs.csv"
outfile_path = "../files/out_game_logs.csv"

In [4]:
#Read CVS and take a look
dlog = pd.read_csv(file_path)
dlog.head()

/home/kny/Software-Development/IDEs/anaconda3/envs/test_env/lib/python3.4/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (12,13,14,15,19,20,81,83,85,87,93,94,95,96,97,98,99,100,105,106,108,109,111,112,114,115,117,118,120,121,123,124,126,127,129,130,132,133,135,136,138,139,141,142,144,145,147,148,150,151,153,154,156,157,160) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,date,number_of_game,day_of_week,v_name,v_league,v_game_number,h_name,h_league,h_game_number,v_score,...,h_player_7_name,h_player_7_def_pos,h_player_8_id,h_player_8_name,h_player_8_def_pos,h_player_9_id,h_player_9_name,h_player_9_def_pos,additional_info,acquisition_info
0,18710504,0,Thu,CL1,na,1,FW1,na,1,0,...,Ed Mincher,7.0,mcdej101,James McDermott,8.0,kellb105,Bill Kelly,9.0,NaN,Y
1,18710505,0,Fri,BS1,na,1,WS3,na,1,20,...,Asa Brainard,1.0,burrh101,Henry Burroughs,9.0,berth101,Henry Berthrong,8.0,HTBF,Y
2,18710506,0,Sat,CL1,na,2,RC1,na,1,12,...,Pony Sager,6.0,birdg101,George Bird,7.0,stirg101,Gat Stires,9.0,NaN,Y
3,18710508,0,Mon,CL1,na,3,CH1,na,1,12,...,Ed Duffy,6.0,pinke101,Ed Pinkham,5.0,zettg101,George Zettlein,1.0,NaN,Y
4,18710509,0,Tue,BS1,na,2,TRO,na,1,9,...,Steve Bellan,5.0,pikel101,Lip Pike,3.0,cravb101,Bill Craver,6.0,HTBF,Y

In [5]:
#Get some high level information about dataframe
dlog.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 171907 entries, 0 to 171906
Columns: 161 entries, date to acquisition_info
dtypes: float64(77), int64(6), object(78)
memory usage: 211.2+ MB

In [6]:
#By default, pandas approximates of the memory usage of the dataframe to save time.
#Because we're interested in accuracy, we'll set the memory_usage parameter to 'deep' to get an accurate number.
dlog.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 171907 entries, 0 to 171906
Columns: 161 entries, date to acquisition_info
dtypes: float64(77), int64(6), object(78)
memory usage: 861.6 MB

# The Internal Representation of a Dataframe

Pandas groups the columns into blocks of values of the same type. 

The BlockManager class is responsible for maintaining the mapping between the row and column indexes and the actual blocks.Whenever we select, edit, or delete values, the dataframe class interfaces with the BlockManager class to translate our requests to function and method calls.

Each type has a specialized class in the pandas.core.internals module. Pandas uses the ObjectBlock class to represent the block containing string columns, and the FloatBlock class to represent the block containing float columns.For blocks representing numeric values like integers and floats, pandas combines the columns and stores them as a NumPy ndarray and stores them in a continuous block of memory. Due to this storage scheme, accessing a slice of values is incredibly fast.

In [7]:
# We go looking at the average memory usage for data type.
for dtype in ['float','int','object']:
    selected_dtype = dlog.select_dtypes(include=[dtype])
    mean_usage_b = selected_dtype.memory_usage(deep=True).mean()
    mean_usage_mb = mean_usage_b / 1024 ** 2
    print("Average memory usage for {} columns: {:03.2f} MB".format(dtype,mean_usage_mb))

Average memory usage for float columns: 1.29 MB
Average memory usage for int columns: 1.12 MB
Average memory usage for object columns: 9.53 MB

# Understanding Subtypes
Many types in pandas have multiple subtypes that can use fewer bytes to represent each value. For example, the float type has the float16, float32, and float64 subtypes. An int8 value uses 1 byte (or 8 bits) to store a value, and can represent 256 values (2^8) in binary.

In [8]:
#We can use the numpy.iinfo class to verify the minimum and maximum values for each integer subtype.
import numpy as np
int_types = ["uint8", "int8", "int16"]
for it in int_types:
    print(np.iinfo(it))

Machine parameters for uint8
---------------------------------------------------------------
min = 0
max = 255
---------------------------------------------------------------

Machine parameters for int8
---------------------------------------------------------------
min = -128
max = 127
---------------------------------------------------------------

Machine parameters for int16
---------------------------------------------------------------
min = -32768
max = 32767
---------------------------------------------------------------

# Optimizing Numeric Columns with Subtypes
We can use the function pd.to_numeric() to downcast our numeric types. We'll use DataFrame.select_dtypes to select only the integer columns, then we'll optimize the types and compare the memory usage.

In [9]:
# We're going to be calculating memory usage a lot,
# so we'll create a function to save us some time!

def mem_usage(pandas_obj):
    if isinstance(pandas_obj,pd.DataFrame):
        usage_b = pandas_obj.memory_usage(deep=True).sum()
    else: # we assume if not a df it's a series
        usage_b = pandas_obj.memory_usage(deep=True)
    usage_mb = usage_b / 1024 ** 2 # convert bytes to megabytes
    return "{:03.2f} MB".format(usage_mb)

dlog_int = dlog.select_dtypes(include=['int'])
converted_int = dlog_int.apply(pd.to_numeric,downcast='unsigned')

print(mem_usage(dlog_int))
print(mem_usage(converted_int))

compare_ints = pd.concat([dlog_int.dtypes,converted_int.dtypes],axis=1)
compare_ints.columns = ['before','after']
compare_ints.apply(pd.Series.value_counts)

7.87 MB
1.48 MB

        before  after
uint8      NaN    5.0
uint32     NaN    1.0
int64      6.0    NaN

We can see a drop from 7.9 to 1.5 megabytes in memory usage, which is a more than 80% reduction. The overall impact on our original dataframe isn't massive though, because there are so few integer columns.

In [10]:
# Lets do the same thing with our float columns.
dlog_float = dlog.select_dtypes(include=['float'])
converted_float = dlog_float.apply(pd.to_numeric,downcast='float')

print(mem_usage(dlog_float))
print(mem_usage(converted_float))

compare_floats = pd.concat([dlog_float.dtypes,converted_float.dtypes],axis=1)
compare_floats.columns = ['before','after']
compare_floats.apply(pd.Series.value_counts)

100.99 MB
50.49 MB

         before  after
float32     NaN   77.0
float64    77.0    NaN

We can see that all our float columns were converted from float64 to float32, giving us a 50% reduction in memory usage.

In [11]:
#Let's create a copy of our original dataframe, assign these optimized numeric columns in place of the originals
optimized_dlog = dlog.copy()

optimized_dlog[converted_int.columns] = converted_int
optimized_dlog[converted_float.columns] = converted_float

print(mem_usage(dlog))
print(mem_usage(optimized_dlog))

861.57 MB
804.69 MB

While we've dramatically reduced the memory usage of our numeric columns, overall we've only reduced the memory usage of our dataframe by 7%.

# Comparing Numeric to String storage

The object type represents values using Python string objects. Python is a high-level, interpreted language. For this, it doesn't have fine grained-control over how values in memory are stored.

This limitation causes strings to be stored in a fragmented way that consumes more memory and is slower to access. Each element in an object column is really a pointer that contains the "address" for the actual value's location in memory.

While each pointer takes up 1 byte of memory, each actual string value uses the same amount of memory that string would use if stored individually in Python

In [12]:
from sys import getsizeof

s1 = 'working out'
s2 = 'memory usage for'
s3 = 'strings in python is fun!'
s4 = 'strings in python is fun!'

for s in [s1, s2, s3, s4]:
    print(getsizeof(s))

60
65
74
74

In [13]:
obj_series = pd.Series(['working out',
                          'memory usage for',
                          'strings in python is fun!',
                          'strings in python is fun!'])
obj_series.apply(getsizeof)

0    60
1    65
2    74
3    74
dtype: int64

You can see that the size of strings when stored in a pandas series are identical to their usage as separate strings in Python.

# Optimizing object types using categoricals

Pandas introduced Categoricals in version 0.15. The category type uses integer values under the hood to represent the values in a column, rather than the raw values. Pandas uses a separate mapping dictionary that maps the integer values to the raw ones. This arrangement is useful whenever a column contains a limited set of values. When we convert a column to the category dtype, pandas uses the most space efficient int subtype that can represent all of the unique values in a column.

In [14]:
# Let's take a look at the number of unique values of each of our object types.
dlog_obj = dlog.select_dtypes(include=['object']).copy()
dlog_obj.describe()

,day_of_week,v_name,v_league,h_name,h_league,day_night,completion,forefeit,protest,park_id,...,h_player_6_id,h_player_6_name,h_player_7_id,h_player_7_name,h_player_8_id,h_player_8_name,h_player_9_id,h_player_9_name,additional_info,acquisition_info
count,171907,171907,171907,171907,171907,140150,116,145,180,171907,...,140838,140838,140838,140838,140838,140838,140838,140838,1456,140841
unique,7,148,7,148,7,2,116,3,5,245,...,4774,4720,5253,5197,4760,4710,5193,5142,332,1
top,Sat,CHN,NL,CHN,NL,D,"19550606,,2,4,45",H,V,STL07,...,grimc101,Charlie Grimm,grimc101,Charlie Grimm,lopea102,Al Lopez,spahw101,Warren Spahn,HTBF,Y
freq,28891,8870,88866,9024,88867,82724,1,69,90,7022,...,427,427,491,491,676,676,339,339,1112,140841

A quick glance reveals many columns where there are few unique values relative to the overall ~172,000 games in our data set.

In [15]:
# Let's take a look a selecting just one of our object columns, and convert it to the categorical type.
dow = dlog_obj.day_of_week
print(dow.head())

dow_cat = dow.astype('category')
print(dow_cat.head())

0    Thu
1    Fri
2    Sat
3    Mon
4    Tue
Name: day_of_week, dtype: object
0    Thu
1    Fri
2    Sat
3    Mon
4    Tue
Name: day_of_week, dtype: category
Categories (7, object): [Fri, Mon, Sat, Sun, Thu, Tue, Wed]

In [16]:
#we use the Series.cat.codes attribute to return the integer values the category type uses to represent each value.
dow_cat.head().cat.codes

0    4
1    0
2    2
3    1
4    5
dtype: int8

In [17]:
#Let's look at the memory usage for this column before and after converting to the category type.
print(mem_usage(dow))
print(mem_usage(dow_cat))

9.84 MB
0.16 MB

We've gone from 9.8MB of memory usage to 0.16MB of memory usage, or a 98% reduction!

While converting all of the columns to this type sounds appealing, it's important to be aware of the trade-offs. The biggest one is the inability to perform numerical computations.

We should stick to using the category type primarily for object columns where less than 50% of the values are unique.

In [18]:
#We'll write a loop to iterate over each object column,
# check if the number of unique values is less than 50%, and if so, convert it to the category type.
converted_obj = pd.DataFrame()

for col in dlog_obj.columns:
    num_unique_values = len(dlog_obj[col].unique())
    num_total_values = len(dlog_obj[col])
    if num_unique_values / num_total_values < 0.5:
        converted_obj.loc[:,col] = dlog_obj[col].astype('category')
    else:
        converted_obj.loc[:,col] = dlog_obj[col]

In [20]:
print(mem_usage(dlog_obj))
print(mem_usage(converted_obj))

compare_obj = pd.concat([dlog_obj.dtypes,converted_obj.dtypes],axis=1)
compare_obj.columns = ['before','after']
compare_obj.apply(pd.Series.value_counts)

752.72 MB
42.49 MB

Exception ignored in: 'pandas.lib.array_equivalent_object'
TypeError: data type not understood

          before  after
object      78.0    NaN
category     NaN   78.0

Our memory usage for our object columns has gone from 752MB to 52MB, or a reduction of 93%.

In [22]:
# Let's combine this with the rest of our dataframe 
optimized_dlog[converted_obj.columns] = converted_obj
mem_usage(optimized_dlog)

'94.46 MB'

# Optimisation trade-offs: Datetimes
While before optimisation, the datetime column was read in as an integer type and already optimized to unint32. Because of this, converting it to datetime will actually double it's memory usage, as the datetime type is a 64 bit type. There's value in converting it to datetime anyway since it will allow us to more easily do time series analysis.

In [24]:
#There was a datetime type that we can use for the first column of our data set.
date = optimized_dlog.date
print(mem_usage(date))
date.head()

0.66 MB

0    18710504
1    18710505
2    18710506
3    18710508
4    18710509
Name: date, dtype: uint32

In [26]:
#We'll convert using pandas.to_datetime() function, 
# using the format parameter to tell it that our date data is stored YYYY-MM-DD.
optimized_dlog['date'] = pd.to_datetime(date,format='%Y%m%d')

print(mem_usage(optimized_dlog))
optimized_dlog.date.head()

95.11 MB

0   1871-05-04
1   1871-05-05
2   1871-05-06
3   1871-05-08
4   1871-05-09
Name: date, dtype: datetime64[ns]

# Selecting Types While Reading the Data In
We often won't have enough memory to represent all the values in a data set. How can we apply memory-saving techniques when we can't even create the dataframe in the first place?

We can specify the optimal column types when we read the data set in. The pandas.read_csv() function has a few different parameters that allow us to do this.

In [27]:
#First, we'll store the final types of every column in a dictionary with keys for column names,
# first removing the date column since that needs to be treated separately.

dtypes = optimized_dlog.drop('date',axis=1).dtypes

dtypes_col = dtypes.index
dtypes_type = [i.name for i in dtypes.values]

column_types = dict(zip(dtypes_col, dtypes_type))

# rather than print all 161 items, we'll
# sample 10 key/value pairs from the dict
# and print it nicely using prettyprint

preview = first2pairs = {key:value for key,value in list(column_types.items())[:10]}
import pprint
pp = pp = pprint.PrettyPrinter(indent=4)
pp.pprint(preview)

{   'day_night': 'category',
    'h_at_bats': 'float32',
    'h_player_4_id': 'category',
    'h_player_9_id': 'category',
    'hp_umpire_id': 'category',
    'hp_umpire_name': 'category',
    'v_caught_stealing': 'float32',
    'v_player_1_def_pos': 'float32',
    'v_player_5_def_pos': 'float32',
    'winning_rbi_batter_id_name': 'category'}

In [28]:
#We can use the dictionary, along with a few parameters for the date to read in the data 
# with the correct types in a few lines:
read_and_optimized = pd.read_csv(file_path,dtype=column_types,parse_dates=['date'],infer_datetime_format=True)

print(mem_usage(read_and_optimized))
read_and_optimized.head()

95.10 MB

,date,number_of_game,day_of_week,v_name,v_league,v_game_number,h_name,h_league,h_game_number,v_score,...,h_player_7_name,h_player_7_def_pos,h_player_8_id,h_player_8_name,h_player_8_def_pos,h_player_9_id,h_player_9_name,h_player_9_def_pos,additional_info,acquisition_info
0,1871-05-04,0,Thu,CL1,na,1,FW1,na,1,0,...,Ed Mincher,7.0,mcdej101,James McDermott,8.0,kellb105,Bill Kelly,9.0,NaN,Y
1,1871-05-05,0,Fri,BS1,na,1,WS3,na,1,20,...,Asa Brainard,1.0,burrh101,Henry Burroughs,9.0,berth101,Henry Berthrong,8.0,HTBF,Y
2,1871-05-06,0,Sat,CL1,na,2,RC1,na,1,12,...,Pony Sager,6.0,birdg101,George Bird,7.0,stirg101,Gat Stires,9.0,NaN,Y
3,1871-05-08,0,Mon,CL1,na,3,CH1,na,1,12,...,Ed Duffy,6.0,pinke101,Ed Pinkham,5.0,zettg101,George Zettlein,1.0,NaN,Y
4,1871-05-09,0,Tue,BS1,na,2,TRO,na,1,9,...,Steve Bellan,5.0,pikel101,Lip Pike,3.0,cravb101,Bill Craver,6.0,HTBF,Y

 88% reduction!

# Analyzing baseball games
Now that we've optimized our data, we can perform some analysis.

In [43]:
optimized_dlog['year'] = optimized_dlog.date.dt.year
games_per_day = optimized_dlog.pivot_table(index='year',columns='day_of_week',values='date',aggfunc=len)
games_per_day = games_per_day.divide(games_per_day.sum(axis=1),axis=0)

ax = games_per_day.plot(kind='area',stacked='true')
ax.legend(loc='upper right')
ax.set_ylim(0,1)
plt.show()

ValueError: operands could not be broadcast together with shapes (882,) (126,)

In [32]:
#How game length has varied over the years.
game_lengths = optimized_dlog.pivot_table(index='year', values='length_minutes')
game_lengths.reset_index().plot.scatter('year','length_minutes')
plt.show()

NameError: name 'plt' is not defined